*{
  margin: 0;
  padding: 0;
}

.app{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  height: 50%;
  width: 50%;
  font-size: 100px;
  border:whitesmoke;
  color: beige;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.295);
}